
.perfair-logo {
    margin-left: 10px;
    margin-right: 10px;
    width: 110px;
    }
.navbar {
	background-color: #F8F1E7;
}
.footer {
	background-color: #F8F1E7;
}
#insta-logo {
	width: 50px;
}
#linkedin-logo {
	width: 57px;
}