body {
	margin: 0;
	padding: 0;
}
.perfair-logo {
    margin-left: 10px;
    margin-right: 10px;
    width: 110px;
    }
.navbar {
	background-color: #F8F1E7;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
   	color: rgba(166,60,14,1.00);
}
.ct-featureBox h4 {
  padding: 10px 0 5px;
  color: #00000;
  font-size: 2.2rem;
  font-weight: 600;
}
.ct-featureBox p {
  margin-bottom: 0;
}
.main-content {
  padding: 40px 0;
  background-image: url("https://www.solodev.com/assets/bg-02.jpg");
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  min-height: 600px;
}
.main-content h2,
.main-content h3 {
  color: rgba(166,60,14,1.00);
  font-size: 2rem;
  text-align: center;
	
}
.main-content h2 {
  text-transform: uppercase;
  margin-bottom: 0;
}
.main-content h3 {
  font-weight: 300;
  padding-bottom: 20px;
  margin-top: 0;
}
.main-content h3,
.fa {
  font-size: 1.5rem;
}
.main-content h4 {
	font-size: 120%;
	padding-top: 10px;
 	padding-bottom: 10px;
 	margin-top: 0;
}
.image {
	color: #A63C0E
}
.ct-featureBox {
	width: 100%;
 	background: #F9DDB0;
	border-radius: 25px;
 	padding: 40px 55px;
 	margin: 15px 0;
	min-height: 250px;
 	display: table;
	 text-align: center;
 	color: inherit;
 	-webkit-transition: background-color, 0.25s, ease-in-out;
 	transition: background-color, 0.25s, ease-in-out;
}
.ct-featureBox .inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.ct-featureBox .image {
  text-align: center;
}
.ct-featureBox .image img {
  display: block;
	width: 100%;
	
}
.footer {
	background-color: #F8F1E7;
}
.nav-link {
	color: darkgray
}
#insta-logo {
	width: 40px;
}
#linkedin-logo {
	width: 40px;
}

.news-row {
	background-color: darkred;
	color: #F8F1E7;
	width: auto;
	padding: 50px;
}